.issues-analytics-wrapper {
  @include media-breakpoint-up(sm) {
    padding-left: $gl-sidebar-padding;
  }

  .issue-title {
    max-width: px-to-rem(350px);
  }

  .milestone-title {
    max-width: px-to-rem(75px);
  }
}

.issues-analytics-chart {
  .chart-title {
    margin: $gl-padding-24 0 $gl-padding-32;
  }
}

.issues-analytics-legend {
  font-size: $gl-font-size-small;
  color: $gl-text-color-secondary;
}
